<ul>
  <li><a href="/crags">Crags</a></li>
  <li><a href="/climbs">All Climbs</a></li>
</ul>

<% @climbs.each do |climb| %>
  <h2><%= climb.name %></h2>
  <p><strong>Pitches:</strong></p><%= climb.pitches %>
  <p><strong>Trad:</strong></p><%= climb.trad %>
<% end %>

<%= button_to "Create Climb", "/crags/#{@crag.id}/climbs/new", method: :get%>
